div#index-menu {
    background: var(--surface-2);
    width: 25rem;
    min-width: 25rem;
    height: 100%;
    padding: 1rem;
    overflow-y: auto;
}

:root[data-display="mobile"] div#index-menu {
    position: fixed;
    z-index: 9;
    right: 100%;
    width: 100%;
    height: calc(100% - 3rem);
    transition: right var(--animation-fast) ease-in;
}

:root[data-display="mobile"] div#index-menu.show {
    right: 0;
}

div#index-menu h1#title {
    display: none;
    padding-bottom: 1rem;
    border-bottom: 0.05rem solid var(--surface-3);
}

:root[data-display="mobile"] div#index-menu h1#title {
    display: block;
}

div#index-menu input#searchbar {
    width: 100%;
    margin: 0;
    margin-bottom: 1rem;
    background: var(--surface-3);
}

div#index-menu div.container.hidden div.item-container {
    display: none;
}

div#index-menu a#index-link {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: 0.2rem;
    padding-top: 0.8rem;
    padding-left: 0;
    padding-bottom: 0.8rem;
    border-radius: 5rem;
    font-size: 1.25rem;
    color: var(--on-surface-1);
    cursor: pointer;
    transition: background var(--animation-fast);
}

/* div#index-menu a#index-link.selected {
    background: var(--primary-color);
    color: var(--surface-2);
} */

div#index-menu a#index-link.file::after {
    content: ".";
    display: block;
    position: absolute;
    left: 0.4rem;
    top: 0.45rem;
    width: var(--size);
    height: 2rem;
    color: transparent;
    border-radius: 0.35rem;
    transition: background var(--animation-fast);
    background: transparent;
    color: transparent;
}

div#index-menu a#index-link.selected::after {
    background: var(--primary-color);
    color: var(--primary-color);
}
div#index-menu a#index-link:focus {
    border: none;
}

div#index-menu a#index-link:not(.selected):hover::after,
div#index-menu a#index-link:not(.selected):focus::after {
    background: var(--primary-color);
    color: var(--primary-color);
    opacity: 0.5;
}

div#index-menu div.container a#index-link svg {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    fill: var(--on-surface-1);
    transform: rotateZ(0deg);
    transition: transform var(--animation-fast);
}

div#index-menu div.container.hidden a#index-link svg {
    transform: rotateZ(-90deg);
}
